<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Static site using Go</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <link href="assets/css/library.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css"> 
</head>
<body>

<h1>Hello World!</h1>
<p><strong>Welcome {{.}}</strong>.</p>
<script src="assets/js/library.min.js"></script>
<script src="assets/js/app.min.js"></script>
</body>
</html>