
// Media Queries
/* 
	referencias em:
	https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
	http://blog.templatemonster.com/2014/10/24/bootstrap-3-grid-system-guide/
	https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
	http://nmsdvid.com/snippets/
	https://www.pntbrother.com/css-media-queries-for-mobile-desktop-iphone-tablet-desktop-laptop/

	Display resolution:
	http://gregquan.com/detect/
*/
/* ----------- twitter bootstrap default ----------- */
	$small: 320px;
	$phone: 480px;
	$tablet: 768px;
	$tablet-landscape: 1024px;
	$medium: 992px;
	$desktop: 1200px;
	$large: 1824px;
	$extra-large: 2560px;

/* ----------- iPhone 4 and 4S ----------- */
	$iphone44s: "and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)";
	$iphone44s-portrait: "and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
	$iphone44s-landscape: "and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)";

/* ----------- iPhone 5 and 5S ----------- */
	$iphone55s: "and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)";
	$iphone55s-portrait: "and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
	$iphone55s-landscape: "and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)";

/* ----------- iPhone 6 ----------- */
	$iphone6: "and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";
	$iphone6-portrait: "and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";
	$iphone6-landscape: "and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)";

/* ----------- iPhone 6+ ----------- */
	$iphone6plus: "and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)";
	$iphone6plus-portrait: "and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait)";
	$iphone6plus-landscape: "and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)";

/* ----------- Galaxy S3 ----------- */
	$galaxys3: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2)";
	$galaxys3-portrait: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)";
	$galaxys3-landscape: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)";

/* ----------- Galaxy S4 ----------- */
	$galaxys4: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)";
	$galaxys4-portrait: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)";
	$galaxys4-landscape: "and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)";

/* ----------- Galaxy S5 ----------- */
	$galaxys5: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)";
	$galaxys5-portrait: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)";
	$galaxys5-landscape: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)";

/* ----------- HTC One ----------- */
	$htc: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)";
	$htc-portrait: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)";
	$htc-landscape: "and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)";

/* ----------- iPad mini ----------- */
	$ipad-mini: "and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)";
	$ipad-mini-portrait: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";
	$ipad-mini-landscape: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)";

/* ----------- iPad 1 and 2 ----------- */
	$ipad12: "and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)";
	$ipad12-portrait: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";
	$ipad12-landscape: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)";

/* ----------- iPad 3 and 4 ----------- */
	$ipad34: "and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)";
	$ipad34-portrait: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)";
	$ipad34-landscape: "and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)";

/* ----------- Galaxy Tab 10.1 ----------- */
	$galaxi-tab: "(min-device-width: 800px) and (max-device-width: 1280px)";
	$galaxi-tab-portrait: "(max-device-width: 800px) and (orientation: portrait)";
	$galaxi-tab-landscape: "(max-device-width: 1280px) and (orientation: landscape)";

/* ----------- Asus Nexus 7 ----------- */
	$asus-nexus: "and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332)";
	$asus-nexus-portrait: "and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait)";
	$asus-nexus-landscape: "and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape)";

/* ----------- Kindle Fire HD 7" ----------- */
	$kindle-fire-hd7: "and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5)";
	$kindle-fire-hd7-portrait: "and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait)";
	$kindle-fire-hd7-landscape: "and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape)";

/* ----------- Kindle Fire HD 8.9" ----------- */
	$kindle-fire-hd89: "and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5)";
	$kindle-fire-hd89-portrait: "and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait)";
	$kindle-fire-hd89-landscape: "and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape)";

/* ----------- laptops Non-Retina Screens ----------- */
	$laptops-non-retina: "and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)";
	
/* ----------- laptops Retina Screens ----------- */
	$laptops-retina: "and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)";

/* ----------- apple watch ----------- */
	$apple-watch: "(max-device-width: 42mm) and (min-device-width: 38mm)";

/* ----------- Moto 360 Watch ----------- */
	$moto360-watch: "(max-device-width: 218px) and (max-device-height: 281px)";

// END Media Queries

